/vim/plugged
/nvim/plugged
.netrwhist
*.swp
*.swo
/_backup/!.keep
/_temp/!.keep


*.swm

*.spl
.DS_Store
*.sug
fish/functions/__*
fish/functions/fisher.fish
nvim/autoload/*
nvim/autoload/plug.vim
*.swl
*.swk
*.spl
