[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
  ignore = dirty
[submodule "vim/bundle/twig"]
	path = vim/bundle/twig
	url = https://github.com/evidens/vim-twig.git
  ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = dirty
